@charset "utf-8";
/* CSS Document */
body{
	background:url(../picture/back_login.gif);	
}
#admin{
	margin-top: 50px;
	background:#CECECE;
	/*width:1050px;*/
	padding-top:14px;
	padding-left:12px;
	padding-right:12px;
	padding-bottom:14px;
	height:auto;
	border-radius:15px;
	/*box-shadow:#0CF 2px 2px 2px 2px; use for 3D div */
}
@media(max-width:768px) {
	#admin {
		height: auto;
	}
}

@media(min-width:768px) {
	.side-nav {
	position: absolute;
	top: 51px;
	left: 228px;
	width: 225px;
	margin-left: -225px;
	border: none;
	border-radius: 0;
	overflow-y: auto;
	background-color: #222;
}

.side-nav>li>a {
	width: 225px;
	color: #fff !important;
}

.side-nav li a:hover,
.side-nav li a:focus {
	outline: none;
	background-color: #000 !important;
	}
}

.side-nav>li>ul {
	padding: 0;
}
.side-nav>li>ul>li>a {
	display: block;
	padding: 10px 15px 10px 38px;
	text-decoration: none;
	color: #999;
}

.side-nav>li>ul>li>a:hover {
	color: #337AB7;
}